footer{
	background-color: #FFFFFF;
	height: 60px;
	width: 100%;
	border-top: 1px;
	border-top-color: #CCCCCC;
	border-top-style: solid;
	position: fixed;
	bottom: 0
    }

footer p{
	/*vertical align text*/
    line-height: 60px;
    margin: 0;
    text-align: center;
    }
