header{
	background-color: #FFFFFF;
	height: 70px;
	width: 100%;
	border-bottom: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;

    }

.logo{
	margin-left: 20px;
	background-image: url("../images/logo.png");
	background-repeat: no-repeat;
	width: 142px;
	height: 60px;
	/*vertical align logo*/
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
