.multiples_places{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.places h1{
    font-size: 30px;
}

article{
    width: 390px;
    padding: 20px;
    margin: 20px;
    border-color: #FF5A5F;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    text-align: center;
}

h2{
    font-size: 30px;
}
